/*работа с третьей колонкой, сделала
флекс-контейнером для удобства дальнейшего
расположения элементов в данном блоке (колонке).
Попросила элементы внутри выстроиться колонкой*/
.footer__column_content_social {
  padding: 0;
  display: flex;
  flex-direction: column;
}
