/*создаём блок с колонками,
задаём нужные размеры и стили*/
.footer__columns {
  display: flex;
  min-height: 350px;
  width: 90%;
  margin: 0;
  /*элементы в данном флекс-контейнеры располагаем:
  крайние прижаты к границам, между ними равномерно пустота*/
  justify-content: space-between;
  /*для проверки*/
  /*border: 1px solid red;*/
}
