.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/*стили блока шапки с классом header*/
.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  /*вся шапка - флекс-контейнер для удобной работы с эл-ми*/
  display: flex;
  overflow: hidden;
}

/*логотип, как отдельный блок*/
/*назначили нужные размеры и попросили не повторяться :)*/
.logo {
  width: 183px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

/*позиционирование логотипа (отдельного блока) в шапке*/
.logo__place_header {
  background-image: url("../images/logo_place_header.svg");
  z-index: 3;
  position: absolute;
  top: 30px;
  left: 64px;
}

/*для всех заголовков (элементов с классом title)*/
.title {
  font-weight: bold;
}

/*позиционирование title в шапке, описание его значений*/
.title_place_header {
  line-height: 96px;
  font-size: 102px;
  width: 730px;
  z-index: 2;
  /*сделали элемент флекс-контейнером, чтобы выровнять его*/
  display: flex;
  /*выравнивание по центру относительно оси Y*/
  align-items: center;
  /*сдвиг влево на 64px*/
  margin-left: 64px;
}

/*для всех подзаголовков (элементов с классом subtitle)*/
.subtitle {
  font-weight: normal;
}

/*позиционирование subtitle в шапке, описание его значений*/
.subtitle_place_header {
  z-index: 2;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  width: 388px;
}

/*для всех ссылок с классом link*/
.link {
  text-decoration: none;
}

.link_header {
  color: #2f80ed;
}

/*создаём синий квадрат-фон и позиционируем его*/
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

/*располагаем главную картинку
задаём нужные размеры, просим не повторяться :)*/
.main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  /*можно было бы сделать, как ниже заккоментировано
  но я вспомнила про img и решила,
  что в данном проекте он будет даже лучше.*/
  /*background-image: url('../images/header-image.png');*/
  width: 765px;
  height: 608px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

/*стили блока с классом description*/
.description {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  /*border: 1px solid red;*/
}

/*блок с двумя колонками*/
.two-columns {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: row;
  /*для проверки расстояний и понимания как выглядят блоки*/
  /*border: 1px solid red;*/
  justify-content: space-between;
}

/*стили для блока с кратким описанием*/
.brief {
  width: 174px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  /*для проверки расстояний и понимания как выглядят блоки*/
  /*border: 1px solid red;*/
  margin-top: 0;
}

/*стили для столбца с текстом*/
.main-text {
  width: 80%;
  min-width: 784px;
  margin-top: 0;
}

/*стили для каждого параграфа*/
.paragraph {
  list-style: none;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  /*border: 1px solid red;*/
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
}

/*стили для последнего параграфа*/
.main-text :last-child {
  /*убираем внешний нижний отступ*/
  margin-bottom: 0;
}

/*выделение фрагмента внутри текста*/
.span-accent {
  font-weight: bold;
}

.digits {
  margin-top: 0;
  margin-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  line-height: 69px;
  font-size: 60px;
  text-align: center;
  width: 60%;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
}

.table {
  width: 1100px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  /*border: 1px solid red;*/
}

.table__cell {
  list-style: none;
  width: 250px;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 0;
  /*border: 1px solid red;*/
}

.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  /*border: 1px solid red;*/
  margin: 0;
}

.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  /*border: 1px solid red;*/
  margin-top: 20px;
  margin-bottom: 0;
}

/*стили блока с классом feynman*/
.feynman {
  position: relative;
  /*в задании написано, что высота 790px,
  но я бы сделала минимальную высоту 800px-810px
  для более красивого отображения*/
  /*height: 810px;*/
  height: 790px;
  background-color: #f2f2f2;
  padding-top: 100px;
  margin-top: 0;
  /*весь блок feynman - флекс-контейнер
  для удобной работы с эл-ми внутри него*/
  display: flex;
  /*росположим элементы внутри контейнера в колонку
  в направлении сверху вниз*/
  flex-direction: column;
  /*разместим все эти элементы по центру*/
  align-items: center;
}

/*позиционирование title в feynman, описание его значений*/
.title_place_feynman {
  line-height: 1.15;
  font-size: 120px;
  width: 648px;
  margin-top: 0;
  margin-bottom: 70px;
  /*отцентровываем текст внутри блока*/
  text-align: center;
  z-index: 1;
  /*для проверки расстояний и понимания как выглядят блоки*/
  /*border: 1px solid red;*/
}

/*позиционирование subtitle в feynman, описание его значений*/
.subtitle_place_feynman {
  line-height: 51px;
  font-size: 36px;
  /*отцентровываем текст внутри блока*/
  text-align: center;
  z-index: 1;
  margin-top: 0;
  /*для проверки расстояний и понимания как выглядят блоки*/
  /*border: 1px solid red;*/
}

/*для ссылки из блока feynman
задаём расположение и вид, просим не светиться :D синим*/
.link_feynman {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  z-index: 1;
  font-weight: normal;
  color: #000;
}

/*располагаем картинку
задаём нужные размеры, просим не повторяться :)*/
.feynman-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

.kaufman {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
}

.section-title_theme_dark {
  color: white;
  z-index: 1;
}

.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

.kaufman-triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
}

.footer {
  position: relative;
  display: flex;
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  justify-content: center;
  background-color: #1f1f1f;
  color: white;
  /*border: 1px solid red;*/
}

.columns {
  display: flex;
  min-height: 350px;
  width: 90%;
  /*border: 1px solid red;*/
  margin: 0;
  justify-content: space-between;
}

.columns__content {
  position: relative;
  list-style: none;
  /*border: 1px solid red;*/
  margin: 0;
}

.columns__content_copyright {
  position: relative;
  flex-basis: 711px;
  /*border: 1px solid red;*/
}

.logo__place_footer {
  /*border: 1px solid red;*/
  background-image: url("../images/logo_place_footer.svg");
  height: 35px;
  position: absolute;
  top: 0;
  left: 0;
}

.author {
  margin: 0;
  position: absolute;
  bottom: 18px;
  left: 0;
  margin-top: 18px;
  line-height: 25px;
  /* border: 1px solid red;*/
}

.columns__content_info {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  /*border: 1px solid red;*/
  margin: 0;
}

.column-links {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
  margin-top: 20px;
  margin-bottom: 16px;
}

.link_column {
  padding: 0;
  margin: 0;
  color: white;
}

.columns__content_social {
  padding: 0;
  display: flex;
  flex-direction: column;
}

.social-icon {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  /*border: 1px solid red;*/
}

.link_social {
  /*border: 1px solid red;*/
  padding: 0;
  margin: 0;
  display: flex;
  color: white;
}

.icon {
  /*border: 1px solid red;*/
  margin: auto 0;
  height: 16px;
  width: 16px;
  margin-right: 10px;
}
