.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: "Helvetica Neue", Arial, sans-serif;
}

/*стили блока шапки с классом header*/
.header {
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
  background-color: #f2f2f2;
  /*вся шапка - флекс-контейнер для удобной работы с эл-ми*/
  display: flex;
  overflow: hidden;
}

/*логотип, как отдельный блок*/
/*назначили нужные размеры и попросили не повторяться :)*/
.logo {
  width: 183px;
  height: 32px;
  background-size: contain;
  background-repeat: no-repeat;
}

/*позиционирование логотипа (отдельного блока) в шапке*/
.logo_place_header {
  background-image: url("../images/logo_place_header.svg");
  z-index: 3;
  position: absolute;
  top: 30px;
  left: 64px;
}

/*для всех заголовков (элементов с классом title),
но по данному проекту в создании такого класса нет необходимости,
поэтому строчку про толщину текста пропишу в каждом заголовке.
удалять не буду. вдруг захотим использовать для всех заголовков для странички!? :)*/
/*.title {
  font-weight: bold;
}*/

/*позиционирование title в шапке, описание его значений*/
.header__title {
  font-weight: bold;
  line-height: 96px;
  font-size: 102px;
  width: 730px;
  z-index: 2;
  /*сделали элемент флекс-контейнером, чтобы выровнять его*/
  display: flex;
  /*выравнивание по центру относительно оси Y*/
  align-items: center;
  /*align-self: center;*/
  /*сдвиг влево на 64px*/
  margin-left: 64px;
}

/*для всех подзаголовков (элементов с классом subtitle),
но по данному проекту в создании такого класса нет необходимости,
поэтому строчку про толщину текста пропишу в каждом подзаголовке*/
/*.subtitle {
  font-weight: normal;
}*/

/*позиционирование subtitle в шапке, описание его значений*/
.header__subtitle {
  font-weight: normal;
  z-index: 2;
  position: absolute;
  bottom: 30px;
  left: 64px;
  line-height: 25px;
  font-size: 18px;
  width: 388px;
}

/*для всех ссылок с классом link, но по данному проекту
в создании такого класса нет необходимости, поэтому
строчку для отмены подчеркивания пропишу для каждой ссылки*/
/*.link {
  text-decoration: none;
}*/

/*ссфлка для блока header*/
.header__link {
  text-decoration: none;
  color: #2f80ed;
}

/*поведение ссылки при наведении на неё мышки,
сначала решила поменять цвет (на белый, например),
а потом подумала, что прозрачным сделать будет красивее*/
.header__link:hover {
  /*прозрачность*/
  opacity: 0.4;
  /*прозрачность можно ещё сделать через rgba,
  но есть ли в этом смысл?
  да и rgba значений цвета #2f80ed у меня нет :)*/
  /*color: #fff;*/

  /*для плавного изменения при наведении мышки на ссылку*/
  transition: 0.5s;
}

/*можно добавить при посещении странички подсветку ссылки
! необходимо быть осторожной с этой штукой, т.к. меняет цвет и сохраняется*/
/*.header__link:visited {
  color: #b869b0;
}*/

/*располагаем главную картинку
задаём нужные размеры, просим не повторяться :)*/
.header__main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  /*можно было бы сделать, как ниже заккоментировано
  но я вспомнила про img и решила,
  что в данном проекте он будет даже лучше.*/
  /*background-image: url('../images/header-image.png');*/
  width: 765px;
  height: 608px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 1;
}

/*создаём синий квадрат-фон и позиционируем его*/
.header__square-pic {
  position: absolute;
  top: 64px;
  right: 0;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 0;
}

/*стили блока с классом description*/
.description {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*блок с двумя колонками*/
.two-columns {
  width: 80%;
  min-width: 784px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  /*для проверки расстояний и понимания как выглядят блоки*/
  /*border: 1px solid red;*/
}

/*стили для блока с кратким описанием*/
.two-columns__brief {
  width: 174px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  margin-top: 0;
  /*для проверки расстояний и понимания как выглядят блоки*/
  /*border: 1px solid red;*/
}

/*стили для столбца с текстом*/
.two-columns__main-text {
  width: 80%;
  min-width: 784px;
  margin-top: 0;
  /*border: 1px solid red;*/
}

/*стили для каждого параграфа*/
.two-columns__paragraph {
  list-style: none;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  padding: 0;
  margin-top: 0;
  margin-bottom: 30px;
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*стили для последнего параграфа*/
.two-columns__main-text :last-child {
  /*убираем внешний нижний отступ*/
  margin-bottom: 0;
}

/*выделение фрагмента внутри текста*/
.two-columns__span-accent {
  font-weight: bold;
}

/*стили блока с классом digits*/
.digits {
  margin-top: 0;
  margin-bottom: 100px;
  display: flex;
  /*расположим их колонкой для удобства дальнейшей сортировки*/
  flex-direction: column;
  align-items: center;
}

/*стили, размещение заголовка в блоке digits*/
.section-title {
  font-weight: bold;
  line-height: 69px;
  font-size: 60px;
  text-align: center;
  width: 60%;
  margin-top: 0;
  padding-bottom: 0;
  margin-bottom: 20px;
}

/*стили, размещение подзаголовка в блоке digits*/
.section-subtitle {
  line-height: 34px;
  font-size: 24px;
  text-align: center;
  width: 60%;
  margin-top: 0;
  margin-bottom: 0;
}

/*созание таблицы с размещением
в ней элементов в строку с переносом*/
.table {
  padding-left: 0;
  width: 1100px;
  display: flex;
  /*направление в строку*/
  flex-direction: row;
  /*перенос элементов*/
  flex-wrap: wrap;
  /*расположение внутри контейнера:
  первый и послед эле-ты прижаты к границам,
  остальное пространство равномерно между ними*/
  justify-content: space-between;
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*стили ячейки таблицы*/
.table__cell {
  list-style: none;
  width: 250px;
  padding: 0;
  margin-top: 60px;
  margin-bottom: 0;
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*стили заголовков ячеек*/
.table__heading {
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*стили текста ячеек*/
.table__text {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 0;
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*стили блока с классом feynman*/
.feynman {
  position: relative;
  /*в задании написано, что высота 790px,
  но я бы сделала минимальную высоту 800px-810px
  для более красивого отображения*/
  /*height: 810px;*/
  min-height: 790px;
  background-color: #f2f2f2;
  padding-top: 100px;
  margin-top: 0;
  /*весь блок feynman - флекс-контейнер
  для удобной работы с эл-ми внутри него*/
  display: flex;
  /*росположим элементы внутри контейнера в колонку
  в направлении сверху вниз*/
  flex-direction: column;
  /*разместим все эти элементы по центру*/
  align-items: center;
}

/*позиционирование title в feynman, описание его значений*/
.feynman__title {
  font-weight: bold;
  line-height: 1.15;
  font-size: 120px;
  width: 648px;
  margin-top: 0;
  margin-bottom: 70px;
  /*отцентровываем текст внутри блока*/
  text-align: center;
  z-index: 1;
  /*для проверки расстояний и понимания как выглядят блоки*/
  /*border: 1px solid red;*/
}

/*позиционирование subtitle в feynman, описание его значений*/
.feynman__subtitle {
  font-weight: normal;
  line-height: 51px;
  font-size: 36px;
  /*отцентровываем текст внутри блока*/
  text-align: center;
  z-index: 1;
  margin-top: 0;
  /*для проверки расстояний и понимания как выглядят блоки*/
  /*border: 1px solid red;*/
}

/*для ссылки из блока feynman
задаём расположение и вид, просим не светиться :D синим*/
.feynman__link {
  text-decoration: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 48px;
  line-height: 51px;
  font-size: 36px;
  text-align: center;
  z-index: 1;
  font-weight: normal;
  color: #000;
}

/*добавила прозрачность ссылке при наведении на неё мышки*/
.feynman__link:hover {
  /*прозрачность*/
  opacity: 0.4;
  /*для плавного изменения при наведении мышки на ссылку*/
  transition: 0.5s;
}

/*располагаем картинку
задаём нужные размеры, просим не повторяться :)*/
.feynman__feynman-image {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 867px;
  height: 637px;
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 0;
}

/*стили блока с классом kaufman
аналогичен блоку digits, но он на тёмной стороне :D*/
.kaufman {
  position: relative;
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 90px;
  padding-bottom: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  overflow: hidden;
}

/*заголовок для блока kaufman с тёмной модификацией*/
.section-title_theme_dark {
  color: white;
  z-index: 1;
}

/*подзаголовок для блока kaufman с тёмной модификацией*/
.section-subtitle_theme_dark {
  color: white;
  z-index: 1;
}

/*стили ячеек таблицы с тёмной стороны*/
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  z-index: 1;
}

/*располагаем картинку с треугольником
задаём нужные размеры, просим не повторяться :)*/
.kaufman__triangle {
  height: 877px;
  width: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url("../images/kaufman-triangle.svg");
}

/*подвал, стили, расположение*/
.footer {
  position: relative;
  display: flex;
  margin-top: 0;
  padding-top: 60px;
  padding-bottom: 40px;
  justify-content: center;
  background-color: #1f1f1f;
  color: white;
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*создаём блок с колонками,
задаём нужные размеры и стили*/
.footer__columns {
  display: flex;
  min-height: 350px;
  width: 90%;
  margin: 0;
  /*элементы в данном флекс-контейнеры располагаем:
  крайние прижаты к границам, между ними равномерно пустота*/
  justify-content: space-between;
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*непосредственная работа с колонками
переименовала согласно БЭМ, но удалять не стала.
Удобно проверять разу все колонки*/
/*для проверки*/
/*.footer__column {
  border: 1px solid red;
}*/

/*работа с первой колонкой, указали размеры
и posititon для удобства дальнейшего
расположения элементов в данном блоке (колонке)*/
.footer__column_content_copyright {
  /*position: relative;*/
  display: flex;
  flex-direction: column;
  flex-basis: 711px;
  justify-content: space-between;
  padding-left: 0;
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*позиционирование логотипа (отдельного блока) в подвале*/
/*очень жаль, что нельзя было спозиционировать абсолютом...
он гораздо более привлекательный :D*/
.logo_place_footer {
  background-image: url("../images/logo_place_footer.svg");
  height: 35px;
  /*position: absolute;
  top: 0;
  left: 0;*/
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*рсположение, стили для "Здесь был я!" :)*/
.footer__author {
  /* position: absolute;
  bottom: 18px;
  left: 0;*/
  margin-bottom: 18px;
  margin-top: 18px;
  line-height: 25px;
  font-size: 18px;
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*работа со второй колонкой, сделала
флекс-контейнером для удобства дальнейшего
расположения элементов в данном блоке (колонке).
Попросила элементы внутри выстроиться колонкой :)*/
.footer__column_content_info {
  padding: 0;
  display: flex;
  flex-direction: column;
}

/*Размеры стили для заголовков колонок*/
.footer__column-heading {
  line-height: 30px;
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*размещение, стили для всех ссылок в блоке column-links*/
.footer__column-links {
  list-style: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  margin-bottom: 16px;
  padding-left: 0;
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*стили для каждой ссылки в блоке footer*/
.footer__column-link {
  text-decoration: none;
  padding: 0;
  margin: 0;
  color: white;
  display: flex;
  /*для проверки*/
  /*border: 1px solid red;*/
}

/*добавила прозрачность ссылке при наведении на неё мышки*/
.footer__column-link:hover {
  /*прозрачность*/
  opacity: 0.4;
  /*для плавного изменения при наведении мышки на ссылку*/
  transition: 0.5s;
}

/*работа с третьей колонкой, сделала
флекс-контейнером для удобства дальнейшего
расположения элементов в данном блоке (колонке).
Попросила элементы внутри выстроиться колонкой*/
.footer__column_content_social {
  padding: 0;
  display: flex;
  flex-direction: column;
}

/*работа с каждой иконкой соцсетей для красоты размещения*/
.footer__social-icon {
  margin: auto 0;
  height: 16px;
  width: 16px;
  margin-right: 10px;
  /*для проверки*/
  /*border: 1px solid red;*/
}
