.khan__book-pic {
  width: 620px;
  height: 608px;
  /*как бы накрываем нашей картинкой блок, сохраняя ширину.
  или же просим картинку заполнить собой все пространство 620x608px.
  и позицционируем её так, чтобы она отображалась сверху, а остальное обрезалось.*/
  object-fit: cover;
  object-position: top;
  margin-right: 48px;
}
